/* Arvo */
@font-face {
    font-family: 'Arvo', serif;
}
@font-face {
    font-family: 'Arvo', serif;
    font-weight: bold;
}
@font-face {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arvo', serif;
    font-style: italic;
}
